body {
  font-family: Georgia, FreeSerif, Times, serif;
  font-size: .95em;
  line-height: 1.5em;
  color: #222222;
  margin: 3em auto 3em;
  padding: 0;
  max-width: 50em;
}

a {
    color: #086600;
    text-decoration: underline;
}

a:visited {
    color: #0033B5;
    text-decoration: underline;
}

a:hover, a:focus {
    text-decoration: none;
}

code a:hover {
    background: none;
    color: #b950b7;
}

div.code {
    border: 3px solid #E0E0E0;
    border-radius: 5px;
    margin: 1.3em 0;
    /*box-shadow: 0px 0px 5px #000;*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

pre {
    margin: 0;
    padding: 1em 1em .75em;
    border: 1px solid #000;
    border-width: 5px 5px 5px 5px;
    /*color: #383430;*/
    color: #0F0;
    background: #131313;
    font-family: Monaco, "Courier New", "Droid Sans Mono", monospace, monospace;
    font-size: 0.75em;
    line-height: 1.5em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    /*box-shadow: 0px 0px 5px #0F0;*/
}

.notice {
  display: block;
  padding: 1em;
  margin: 1.4em 0 2.2em;
  background:#FFF6BF;
  color:#514721;
  border:1px solid #FFD324;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.8em 0 0.8em;
    line-height: 1.1em;
}

h1 {
    font-size: 2.4em;
}

h2 {
    font-size: 2em;
    margin: 1em 0 -.4em;
    border-top: 2px solid #E0E0E0;
    padding: 10px 0;
}

h3 {
    font-size: 1.3em;
    border-top: 2px solid #E0E0E0;
    padding-top: .6em;
    line-height: 1.4em;
}

h4, h5, h6 {
    font-size: 1.15em;
}

ul {
    list-style: disc;
}

ul li {
    margin: 1em 0;
}

footer {
    padding: 10px;
    margin: 2.5em 0;
    text-align: center;
    border-top: 5px solid #E0E0E0;
}